<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.dgtle.dgmobile</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>dgtle</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb107704292745179</string>
          <string>wxcfabe3678c439eae</string>
          <string>QQ05FB8B52</string>
          <string>QQ075BCD15</string>
          <string>pocketappdgtle</string>
          <string>tencent100371282</string>
          <string>sinaweibosso.1370650964</string>
          <string>wb1370650964</string>
        </array>
      </dict>
    </array>
    <key>DTPlatformVersion</key>
    <string>9.3</string>
    <key>DTSDKName</key>
    <string>iphoneos9.3</string>
    <key>CFBundleName</key>
    <string>Dgtle</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>photoLibraryDesciption</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>icon.png</string>
          <string>icon@2x.png</string>
          <string>icon120x120.png</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Dgtle</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>dgtle</string>
      <string>mqqwpa</string>
      <string>instagram</string>
      <string>fbauth2</string>
      <string>renren</string>
      <string>renrenios</string>
      <string>renrenapi</string>
      <string>rm226427com.mob.demoShareSDK</string>
      <string>mqq</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>wtloginmqq2</string>
      <string>mqqapi</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>sinaweibohdsso</string>
      <string>sinaweibosso</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>weibosdk2.5</string>
      <string>weibosdk</string>
      <string>wechat</string>
      <string>weixin</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13E230</string>
    <key>NSCameraUsageDescription</key>
    <string>cameraDesciption</string>
    <key>CFBundleShortVersionString</key>
    <string>3.0.5</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15F34</string>
    <key>DTPlatformBuild</key>
    <string>13E230</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>UIAppFonts</key>
    <array>
      <string>Merriweather-Bold.ttf</string>
      <string>Merriweather-Regular.ttf</string>
      <string>OpenSans-Bold.ttf</string>
      <string>OpenSans-Regular.ttf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>3.1.11</string>
    <key>DTXcodeBuild</key>
    <string>7D1014</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.dgtle.dgmobile</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>icon152.png</string>
      <string>icon76.png</string>
      <string>icon.png</string>
      <string>icon@2x.png</string>
      <string>icon120x120.png</string>
    </array>
    <key>DTXcode</key>
    <string>0731</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>Dgtle</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
